-extends 'base.html'

-load dashorgs i18n

-block content
  %table.table
    %thead
      %tr
        %th
          -trans "phone"
        %th
          -trans "msg"
        %th.date
          -trans "date"

    -for msg in msgs
      %tr
        %td.phone
          - national_phone msg.phone
        %td= msg.text
        %td.date
          - display_time msg.created_on request.org

-block extra-style
  {{ block.super }}
  :css
    td.date {
      width: 200px;
    }

    td.phone {
      width: 150px;
    }
