-extends 'base.html'

-load dashorgs

-block content
  %table.table
    %thead
      %tr
        %th phone
        %th msg
        %th.date date

    -for msg in msgs
      %tr
        %td.phone
          - dash_national_phone msg.phone
        %td= msg.text
        %td.date
          - dash_display_time msg.created_on request.org

-block extra-style
  {{ block.super }}
  :css
    td.date {
      width: 200px;
    }

    td.phone {
      width: 150px;
    }
