- extends "frame.haml"
- load i18n smartmin dashorgs

- block content
  %h2
    -if region
      -blocktrans with region=region
        Contacts for {{ region }}
    -else
      -trans "Contacts"

  %table.table
    %thead
      %tr
        -if not region
          %th
            -trans "Region"
        %th
          -trans "Name"

    %tbody
      -for contact in object_list
        %tr
          -if not region
            %td
              {{ contact.region }}
          %td
            {{ contact.name }}
